{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Articles
{% endblock %}
{% block content %}

    {% for article in articles %}

        <div class="row col-lg-4">
            <article class=" col-mg-4">
                <header>
                    <h1><a href="article.php?id={{ article.id }}">{{ article.title }}</a></h1>
                    <img title="{{ article.title }}" alt="{{ article.title }}" src="{{ article.image }}">
                    <small>Written by {{ article.user_id }} on {{ article.created_at }}</small>
                </header>
                <div class="content">
                    <p>{{ article.content }}</p>
                </div>
                <footer>
                    <p>Posted in category: <a href="article?id={{ article.category_id }}">{{ article.category_id }}</a></p>
                    <p><a href="tag?id={{ article.category_id }}"><span class="label label-primary">Primary</span></a></p>
                </footer>
            </article>
        </div>
    {% endfor %}

    <ul class="pagination">
        <li {% if 1 == currentPage %} class="disabled" {% endif %} ><a href="articles.php?p={{ currentPage-1 }}">&leftarrow;</a></li>
        {% set i = 1 %}
        {% for i in 1..lastPage+1 %}
            <li {% if i == currentPage %}class="active" {% endif %}><a href="articles.php?p={{ i }}">{{  i }}</a></li>
            {% set i = i+1 %}
        {% endfor %}
        <li {% if currentPage == lastPage+1 %}class="disabled"{% endif %}><a href="articles.php?p={{ currentPage+1 }}">&rightarrow;</a></li>
    </ul>



{% endblock %}
